:root { 
    --bg: #001f3f; 
    --accent: #0074D9;
}

body {
    background-color: #78cdff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}


.kotak { 
    text-align: center; 
    user-select: none; 
    transition: 0.3s; 
}

.kotak:hover { 
    transform: scale(1.05); 
}

#jam { 
    font-size: clamp(4rem, 15vw, 8rem); 
    font-weight: 800; 
    margin: 0; 
    line-height: 1; 
}

#tanggal { 
    font-size: clamp(1rem, 4vw, 1.8rem); 
    font-weight: 300; 
    margin-top: 15px; 
    letter-spacing: 2px; 
    text-transform: uppercase; 
}

.kedip {
    animation: blink 5s infinite;
}