body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "content sidebar"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    width: 80%;
    max-width: 600px;
}

.container div {
    grid-area: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #628b8b;
    color: white;
    font-size: 1.5rem;
    border-radius: 8px;
    padding: 20px;
}

#header {
    background-color: #E4731F;
    grid-area: header;
}

#content {
    background-color: #E81641;;
    grid-area: content;
}

#sidebar {
    background-color: #d6e4b4;;
    grid-area: sidebar;
}

#footer {
    background-color: #6357C8;;
    grid-area: footer;
}